<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>one-way data binding</h2>
            <dl>
                <dt>Product_Id</dt>
                <dd>{{prodId}}</dd>
                <dt>Producr_Name</dt>
                <dd>{{prodName}}</dd>
                <dt>Product_Image</dt>
                <dd>
                    <img [src]="prodImg" height="150" width="150" alt="">
                </dd>
                <dt>Product_Price</dt>
                <dd>{{prodPrice}}</dd>
                <dt>Stock Availability</dt>
                <dd>
                    <input type="checkbox" [checked]="prodAvl">
                    <span> {{prodAvl==true?"Available":"Out of Stock"}} </span>
                </dd>
            </dl>
        </div>
        <div class="col-6 mt-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" [src]="prodImg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{prodName}}</h5>                  
                  <a href="#" class="btn btn-primary">Click here for more info</a>
                </div>
              </div>
        </div>
    </div>
</div>

