<div class="container">
    <div class="login-form">
        <form>
            <dl>
                <dt>Username</dt>
                <dd><input type="text" class="form-control" name="" id=""></dd>
                <dt>Password</dt>
                <dd><input type="password" class="form-control" name="" id=""></dd>
                <dt>Verify code <button (click)="NewCode()" class="btn"><span class="bi bi-arrow-clockwise"></span></button></dt>
                <dd>{{code}}</dd>
            </dl>
        </form>
    </div>
</div>